<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Carousel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
      <%= link_to "Home", root_path, class:"nav-item nav-link"%>
     <%= link_to "Posts", posts_path, class:"nav-item nav-link" %>
      <% if current_user %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-item nav-link" %>
      <% else %>
        <%= link_to "Register", new_user_registration_path, class:"nav-item nav-link" %>
        <%= link_to "Sign In", new_user_session_path, class:"nav-item nav-link" %>
      <% end %> 
     <%# link_to "Register", new_user_registration_path, class:"nav-item nav-link" %>
      <%# link_to 'Sign out', '/users/sign_out', :method => :delete %>
      <%# link_to "Sign In", new_user_session_path, class:"nav-item nav-link" %>
    </div>
  </div>
</nav>

